In [2]:
import pandas as pd

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

apipath = r'H:\\My Drive\\config\\hbqa.txt'
import configparser

config = configparser.ConfigParser()
config.read(apipath)
secret_key = config['global']['OPENAI_API_KEY']
datapath = config['global']['DATA_FOLDER']

In [8]:
df= pd.read_csv(datapath+'04-Chunk_with_Prompts.csv')
print(df.shape)
df.head(5)

(1963, 6)

,Section_Id,Chunk_Id,Chunk_Letters,Chunk_Words,Chunk_Approx_Tokens,Prompt
0,Book01_002,1,7511,1214,1615.0,"Write 4 unique questions, corresponding answer..."
1,Book01_002,2,7551,1261,1677.0,"Write 5 unique questions, corresponding answer..."
2,Book01_002,3,6986,1162,1545.0,"Write 4 unique questions, corresponding answer..."
3,Book01_002,5,10832,1949,2592.0,"Write 7 unique questions, corresponding answer..."
4,Book01_002,6,7755,1246,1657.0,"Write 4 unique questions, corresponding answer..."

In [9]:
df.head(33)

,Section_Id,Chunk_Id,Chunk_Letters,Chunk_Words,Chunk_Approx_Tokens,Prompt
0,Book01_002,1,7511,1214,1615.0,"Write 4 unique questions, corresponding answer..."
1,Book01_002,2,7551,1261,1677.0,"Write 5 unique questions, corresponding answer..."
2,Book01_002,3,6986,1162,1545.0,"Write 4 unique questions, corresponding answer..."
3,Book01_002,5,10832,1949,2592.0,"Write 7 unique questions, corresponding answer..."
4,Book01_002,6,7755,1246,1657.0,"Write 4 unique questions, corresponding answer..."
5,Book01_003,8,5714,974,1295.0,"Write 3 unique questions, corresponding answer..."
6,Book01_003,9,6353,974,1295.0,"Write 3 unique questions, corresponding answer..."
7,Book01_003,10,7600,1259,1674.0,"Write 4 unique questions, corresponding answer..."
8,Book01_003,11,7759,1298,1726.0,"Write 5 unique questions, corresponding answer..."
9,Book01_003,12,7947,1336,1777.0,"Write 5 unique questions, corresponding answer..."
10,Book01_003,13,7642,1254,1668.0,"Write 4 unique questions, corresponding answer..."
11,Book01_003,14,6747,1108,1474.0,"Write 4 unique questions, corresponding answer..."
12,Book01_004,16,5149,879,1169.0,"Write 3 unique questions, corresponding answer..."
13,Book01_004,17,7573,1339,1781.0,"Write 5 unique questions, corresponding answer..."
14,Book01_004,18,7312,1275,1696.0,"Write 5 unique questions, corresponding answer..."
15,Book01_004,19,7895,1376,1830.0,"Write 5 unique questions, corresponding answer..."
16,Book01_004,20,7061,1224,1628.0,"Write 4 unique questions, corresponding answer..."
17,Book01_006,22,5058,876,1165.0,"Write 3 unique questions, corresponding answer..."
18,Book01_008,24,5092,896,1192.0,"Write 3 unique questions, corresponding answer..."
19,Book01_009,25,3772,642,854.0,"Write 2 unique questions, corresponding answer..."
20,Book01_010,26,3630,641,853.0,"Write 2 unique questions, corresponding answer..."
21,Book01_014,30,4172,736,979.0,"Write 3 unique questions, corresponding answer..."
22,Book01_019,35,5546,958,1274.0,"Write 3 unique questions, corresponding answer..."
23,Book01_020,36,4933,823,1095.0,"Write 3 unique questions, corresponding answer..."
24,Book01_024,40,5422,958,1274.0,"Write 3 unique questions, corresponding answer..."
25,Book01_029,45,3514,618,822.0,"Write 2 unique questions, corresponding answer..."
26,Book01_030,46,6813,1173,1560.0,"Write 4 unique questions, corresponding answer..."
27,Book01_031,47,7749,1315,1749.0,"Write 5 unique questions, corresponding answer..."
28,Book01_032,48,5477,939,1249.0,"Write 3 unique questions, corresponding answer..."
29,Book01_033,49,3669,634,843.0,"Write 2 unique questions, corresponding answer..."
30,Book01_034,50,3858,675,898.0,"Write 2 unique questions, corresponding answer..."
31,Book01_035,51,4060,718,955.0,"Write 3 unique questions, corresponding answer..."
32,Book01_037,53,4188,731,972.0,"Write 3 unique questions, corresponding answer..."

:

In [96]:
import openai

In [4]:
import openai
openai.api_key = secret_key
def get_qa(qa_prompt):
    try:
        response = openai.Completion.create(
            model="text-davinci-003",
            prompt=qa_prompt,
            max_tokens=1000,
            temperature=0,
            frequency_penalty=1
        )
        return response['choices'][0]['text']
    except:
        print("Error")
        return ""

In [5]:
start=400
end=450

for row in range(end-start):
    qa_prompt = df.loc[row,'Prompt']
    response = get_qa(qa_prompt)
    df.loc[row+start,"QA"] = response 
    print("Row: ", row+start)

#response = df['Prompt'].apply(get_qa)

C:\Users\hari_\AppData\Local\Temp\ipykernel_19760\2192288036.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '
Question 1: What is the name of the great sage who composed the Mahabharata?
Answer: The great sage who composed the Mahabharata is Krishna-Dwaipayana, also known as Vyasa.

Question 2: Who recited the Mahabharata at Janamejaya's Snake-sacrifice?
Answer: The Mahabharata was recited at Janamejaya's Snake-sacrifice by Vaisampayana under the direction of Dwaipayana.

Question 3: How many generations were produced from Div?
Answer: From Div were produced thirty-three thousand, thirty-three hundred and thirty-three generations.

Question 4: What are some of the topics discussed in Vyasa's book?
Answer: Some of the topics discussed in Vyasa's book include precepts of religious duty and worldly profit, acts of illustrious saints and sovereigns, Vedas, Yoga, Dharma, Artha and Kama, rules for conduct of mankind and histories and discourses with various srutis.' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[row+start,"QA"] = response

Row:  400
Row:  401
Row:  402
Row:  403
Row:  404
Row:  405
Row:  406
Row:  407
Row:  408
Row:  409
Row:  410
Row:  411
Row:  412
Row:  413
Row:  414
Row:  415
Row:  416
Row:  417
Row:  418
Row:  419
Row:  420
Row:  421
Row:  422
Row:  423
Row:  424
Row:  425
Row:  426
Row:  427
Row:  428
Row:  429
Row:  430
Row:  431
Row:  432
Row:  433
Row:  434
Row:  435
Row:  436
Row:  437
Row:  438
Row:  439
Row:  440
Row:  441
Row:  442
Row:  443
Row:  444
Row:  445
Row:  446
Row:  447
Row:  448
Row:  449

In [6]:
df=df.loc[df['QA'].notna(),:]

In [7]:
qa_file="21-QA_Chunk"+str(start)+"_"+str(end-1)+".csv"

In [8]:
df.to_csv(datapath+qa_file)

In [9]:
df

,Section_Id,Chunk_Id,Chunk_Letters,Chunk_Words,Chunk_Approx_Tokens,Prompt,QA
400,Book03_171,401,4655,786,1045.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: What is the name of the great sa...
401,Book03_172,402,8474,1451,1930.0,"Write 5 unique questions, corresponding answer...",\nQ1: Who was the author of the Bharata?\nA1: ...
402,Book03_175,403,4606,770,1024.0,"Write 3 unique questions, corresponding answer...",Q: What did Dhritarashtra do when he heard the...
403,Book03_176,404,4899,788,1048.0,"Write 3 unique questions, corresponding answer...",\nQ1: Who followed Yudhishthira into the wilde...
404,Book03_177,405,4712,785,1044.0,"Write 3 unique questions, corresponding answer...",Question 1: What did Dhritarashtra wish to do ...
405,Book03_178,406,7423,1282,1705.0,"Write 5 unique questions, corresponding answer...",\nQuestions:\n1. What did Rama ask for as a bo...
406,Book03_179,407,5948,1049,1395.0,"Write 4 unique questions, corresponding answer...",\nQ1: What is the first parva of the Bharata h...
407,Book03_180,408,7750,1308,1740.0,"Write 5 unique questions, corresponding answer...",\nQ1: What is the Adi Parva about?\nA1: The Ad...
408,Book03_182,409,8097,1422,1891.0,"Write 5 unique questions, corresponding answer...",\nQ1: What is the third parva of the Mahabhara...
409,Book03_182,410,3458,613,815.0,"Write 2 unique questions, corresponding answer...",\nQuestion 1: What is the name of the fifth Pa...
410,Book03_182,411,6111,1056,1404.0,"Write 4 unique questions, corresponding answer...",\nQuestion 1: What is the name of the Parva in...
411,Book03_184,412,5980,1012,1346.0,"Write 4 unique questions, corresponding answer...",\nQ1: What is the name of the thirteenth Parva...
412,Book03_185,413,3556,606,806.0,"Write 2 unique questions, corresponding answer...",\nQ1: What did the celestial bitch Sarama do w...
413,Book03_186,414,7347,1351,1797.0,"Write 5 unique questions, corresponding answer...",\nQuestion 1: What did Upamanyu do to support ...
414,Book03_187,415,8213,1420,1889.0,"Write 5 unique questions, corresponding answer...",\nQuestions: \n1. What did the Aswins give Upa...
415,Book03_187,416,8198,1483,1972.0,"Write 5 unique questions, corresponding answer...",\nQuestions:\n1. What did Utanka do when he co...
416,Book03_188,417,8013,1452,1931.0,"Write 5 unique questions, corresponding answer...",\nQ1: Who are Dhata and Vidhata?\nA1: Dhata an...
417,Book03_189,418,5946,1053,1400.0,"Write 4 unique questions, corresponding answer...",\nQuestion 1: What was the name of Bhrigu's wi...
418,Book03_189,419,6648,1159,1541.0,"Write 4 unique questions, corresponding answer...",\nQ1: What did the gods and Rishis do when Agn...
419,Book03_190,420,6022,1022,1359.0,"Write 4 unique questions, corresponding answer...",\nQ1: What was the name of the Rishi who found...
420,Book03_191,421,6583,1189,1581.0,"Write 4 unique questions, corresponding answer...",\nQuestion 1: What did the celestial messenger...
421,Book03_191,422,6696,1183,1573.0,"Write 4 unique questions, corresponding answer...",\nQ1: Who was the father of Astika?\nA1: Jarat...
422,Book03_192,423,6186,1074,1428.0,"Write 4 unique questions, corresponding answer...",\nQ1: What did the gods ask Vishnu and Brahman...
423,Book03_196,424,6115,1160,1543.0,"Write 4 unique questions, corresponding answer...",\nQ1: What form did Lord Vishnu take to deceiv...
424,Book03_197,425,7100,1306,1737.0,"Write 5 unique questions, corresponding answer...",\nQ1: What did Kadru do to Vinata after seeing...
425,Book03_198,426,4374,802,1067.0,"Write 3 unique questions, corresponding answer...",\nQ1: What did Vinata advise Garuda not to do?...
426,Book03_199,427,7793,1394,1854.0,"Write 5 unique questions, corresponding answer...",\nQ1: What did Kasyapa advise Garuda to do in ...
427,Book03_199,428,6278,1117,1486.0,"Write 4 unique questions, corresponding answer...",\nQ1: What did the Valakhilya Rishis do when t...
428,Book03_199,429,7312,1277,1698.0,"Write 5 unique questions, corresponding answer...",\nQ1: What was Indra's fault that caused the V...
429,Book03_200,430,5532,976,1298.0,"Write 3 unique questions, corresponding answer...",\nQ: How did Garuda extinguish the fire surrou...
430,Book03_201,431,4485,794,1056.0,"Write 3 unique questions, corresponding answer...",\nQ: What boons did Vishnu grant to Garuda?\nA...
431,Book03_202,432,5538,1000,1330.0,"Write 4 unique questions, corresponding answer...",\nQ1: What did Garuda ask Indra in return for ...
432,Book03_203,433,7190,1276,1697.0,"Write 5 unique questions, corresponding answer...",\nQ1: What did Sesha do after hearing of the c...
433,Book03_204,434,3897,666,886.0,"Write 2 unique questions, corresponding answer...",\nQ1: What did Vasuki suggest as a means of de...
434,Book03_205,435,7932,1403,1866.0,"Write 5 unique questions, corresponding answer...",\nQuestion 1: What was the reason for Jaratkar...
435,Book03_206,436,7761,1362,1811.0,"Write 5 unique questions, corresponding answer...",\nQuestion 1: What did Sringin ask Krisa when ...
436,Book03_206,437,7318,1208,1607.0,"Write 4 unique questions, corresponding answer...",\nQuestions:\n1. What did Sringin tell his fat...
437,Book03_207,438,5898,1033,1374.0,"Write 4 unique questions, corresponding answer...",\nQuestion 1: What did Takshaka ask Kasyapa to...
438,Book03_208,439,3750,644,857.0,"Write 2 unique questions, corresponding answer...",\nQuestion 1: What did Jaratkaru do to help th...
439,Book03_208,440,5359,919,1222.0,"Write 3 unique questions, corresponding answer...",\nQ1: What did the Rishi Jaratkaru agree to wh...
440,Book03_210,441,4183,701,932.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: What did Janamejaya ask his mini...
441,Book03_212,442,7688,1343,1786.0,"Write 5 unique questions, corresponding answer...",\nQuestion 1: What was the name of the Rishi i...
442,Book03_213,443,4157,726,966.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: Who were the Ritwiks and Sadasya...
443,Book03_214,444,4986,900,1197.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: What did Jaratkaru tell her son ...
444,Book03_215,445,5488,962,1279.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: What were the sacrifices perform...
445,Book03_218,446,4265,738,982.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: What did Janamejaya promise Asti...
446,Book03_220,447,5228,925,1230.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: What did Astika ask for as a boo...
447,Book03_221,448,4693,822,1093.0,"Write 3 unique questions, corresponding answer...",\nQuestion 1: What did Vidura do to protect th...
448,Book03_223,449,6285,1092,1452.0,"Write 4 unique questions, corresponding answer...",\nQuestion 1: What is the name of the great Ri...
449,Book03_224,450,5908,1045,1390.0,"Write 4 unique questions, corresponding answer...",\nQuestions:\n1. What was the name of the king...